*{
    
}

.container .openbtn {
    /* background-color:#444 ; */
    color: black;
    background-color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.container .openbtn:hover {
    background-color:black;
    color: white;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}


/* I suspect this block is the current issue. */
/* ie. .dropdown-btn does not respond to hover. */
.sidepanel a {
    width: 250px;
    left: 0;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel .openbtn {
    font-size: 14px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.sidepanel .closebtn {
/* position: absolute; */
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidepanel .dropdown-btn:hover {
    background-color: #444;
    color: white;
    display: block;
}

.sidepanel .dropdown-links {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sidepanel .dropdown-links a {
    color: black;
    padding: 8px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-btn:hover .dropdown-links{
    display: block;
}