.section-nav {
    background-color: $color-black;
    padding: 25rem 0;
    margin-top: -25vh;
}
.section-discover {
    background-color: $color-black;
    padding: 15rem 0 30rem;
    margin-top: -15rem;
}